<% provide(:title, 'All quizzes') %>

<h1>
  All quizzes
</h1>

<p>
  <%= link_to 'Back', :back %> |
  <%= link_to 'New quiz', :back %>
</p>
<ul class="quizzes">
  <li>
    <div class='col-md-3'>
      Name
    </div>
    <div class='col-md-3'>
      Description
    </div>
    <div class='col-md-3'>
      Actions
    </div>
  </li>
  <% @quizzes.each do |quiz| %>
    <li>
      <div class='col-md-3'>
        <%= link_to quiz.name, quiz %>
      </div>
      <div class='col-md-3'>
        <%= quiz.description %>
      </div>
      <div class='col-md-3'>
        <%= link_to 'Invite', new_quiz_invitation_path(quiz) %> |
        <%= link_to 'Edit', edit_quiz_path(quiz) %> |
        <%= link_to 'DELETE', quiz, method: :delete, data: { confirm: "Delete " + quiz.name + "?" } %>
      </div>
    </li>
  <% end %>
</ul>
