<h1>
  <%= @quiz.name %>
</h1>

<p>
  <% if current_user.examiner? || current_user.admin? %>
    <%= link_to 'Back', quizzes_path %> |
    <%= link_to 'Edit', edit_quiz_path(@quiz) %> |
    <%= link_to 'Invite', new_quiz_invitation_path(@quiz, @invitation) %>
  <% else %>
    <%= link_to 'Back', root_url %>
  <% end %>
</p>

<p>
  <strong>Description:</strong> <%= @quiz.description %>
</p>

<% if @invitation.end_time.blank? %>
  <p>
    <strong>Time limit:</strong> <%= @quiz.time_limit %> minutes
  </p>
  <p>
    <%= link_to 'START NOW', start_quiz_path(@quiz), class: 'btn btn-primary' %>
  </p>
<% else %>
  <p>
    <strong>Time remaining: <%= distance_of_time_in_words(Time.now.localtime, @end_time_converted, include_seconds: true) %></strong>
  </p>
  <p>
  <%= link_to 'CONTINUE', start_quiz_path(@quiz), class: 'btn btn-primary' %>
  </p>
<% end %>

<% if current_user.examiner? || current_user.admin? %>
<h3>
  Invitations (<%= @quiz.invitations.count %>)
</h3>
<ol class="invitations">
  <% if @quiz.invitations.any? %>
    <% @quiz.invitations.each do |invitation| %>
      <li id="invitation-<%= invitation.id %>">
        <div class='col-md-3'>
          <%= link_to invitation.email %>
        </div>
        <div class='col-md-3'>
          Invited <%= time_ago_in_words(invitation.created_at) %> ago.
        </div>
        <div class='col-md-3'>
          <%= link_to 'DELETE', [@quiz, invitation], method: :delete, data: { confirm: "Delete invitation to " + invitation.email + "?" } %>
        </div>
      </li>
    <% end %>
  <% end %>
</ol>
<% end %>
