<h1>
  <%= @quiz.name %>
</h1>

<p>
  <% if current_user.examiner? || current_user.admin? %>
    <%= link_to 'Back', quizzes_path %> |
    <%= link_to 'Edit', edit_quiz_path(@quiz) %> |
    <%= link_to 'Invite', new_quiz_invitation_path(@quiz, @invitation) %>
  <% else %>
    <%= link_to 'Back', :back %>
  <% end %>
</p>

<p>
  <strong>Description:</strong> <%= @quiz.description %>
</p>

<% if current_user.examiner? || current_user.admin? %>
<h3>
  Invitations (<%= @quiz.invitations.count %>)
</h3>
<ol class="invitations">
  <% if @quiz.invitations.any? %>
    <% @quiz.invitations.each do |invitation| %>
      <li id="invitation-<%= invitation.id %>">
        <div class='col-md-3'>
          <%= link_to invitation.email %>
        </div>
        <div class='col-md-3'>
          Invited <%= time_ago_in_words(invitation.created_at) %> ago.
        </div>
        <div class='col-md-3'>
          <%= link_to 'DELETE', [@quiz, invitation], method: :delete, data: { confirm: "Delete invitation to " + invitation.email + "?" } %>
        </div>
      </li>
    <% end %>
  <% end %>
</ol>
<% end %>
