<h1>
  <%= @user.name %>
</h1>

<p>
  <%= link_to 'Edit', edit_user_path(@user) %>
</p>

<p>
  <strong>Login:</strong> <%= @user.email %>
</p>

<% if current_user.admin? %>
  <p>
    <strong>Admin:</strong> <%= @user.admin? %>
  </p>
  <p>
    <strong>Examiner:</strong> <%= @user.examiner? %>
  </p>
<% end %>

<% if !@invitations.empty? %>
  Available quizzes:
  <br>
  <ul class='invitations'>
    <li>
      <strong>
        <div class='col-md-2'>
          Name
        </div>
        <div class='col-md-3'>
          Description
        </div>
        <div class='col-md-1'>
          Sender
        </div>
        <div class='col-md-2'>
          Invited
        </div>
        <div class='col-md-2'>
          Status
        </div>
        <% if current_user.examiner? %>
          <div class='col-md-1'>
            Submissions
          </div>
        <% end %>
      </strong>
    </li>
    <% @invitations.each do |invitation| %>
      <li>
        <div class='col-md-2'>
          <%= link_to invitation.quiz.name, invitation.quiz %>
        </div>
        <div class='col-md-3'>
          <%= invitation.quiz.description %>
        </div>
        <div class='col-md-1'>
          <%= invitation.sender_name %>
        </div>
        <div class='col-md-2'>
          <%= time_ago_in_words(invitation.created_at) %> ago
        </div>
        <div class='col-md-2'>
          <strong>
            <% if invitation.end_time.blank? %>
              NOT YET STARTED
            <% elsif Time.parse(invitation.end_time) <= Time.now %>
              ENDED
            <% else %>
              IN-PROGRESS
            <% end %>
          </strong>
        </div>
        <% if current_user.examiner? && invitation.quiz_answer.exists? %>
          <div class='col-md-1'>
            <%= link_to 'Download', invitation.quiz_answer.url %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
