<h1>
  <%= @user.name %>
</h1>

<p>
  <%= link_to 'Edit', edit_user_path(@user) %>
</p>

<p>
  Login: <%= @user.email %>
</p>

<% if current_user.admin? %>
  <p>
    Admin: <%= @user.admin? %>
  </p>
  <p>
    Examiner: <%= @user.examiner? %>
  </p>
<% end %>

<% if @user.examiner? %>
  <div class='col-md-3'>
      View all quizzes
  </div>
  <div class='col-md-3'>
      Create a new quiz
  </div>
<% end %>

<% if !@invitations.empty? %>
  You are invited to answer the following quizzes:
  <br>
  <ul class='invitations'>
    <li>
      <strong>
        <div class='col-md-2'>
          Name
        </div>
        <div class='col-md-2'>
          Description
        </div>
        <div class='col-md-2'>
          Sender
        </div>
        <div class='col-md-2'>
          Invited
        </div>
        <div class='col-md-2'>
          Status
        </div>
      </strong>
    </li>
    <% @invitations.each do |invitation| %>
      <li>
        <div class='col-md-2'>
          <%= link_to invitation.quiz.name, invitation.quiz %>
        </div>
        <div class='col-md-2'>
          <%= invitation.quiz.description %>
        </div>
        <div class='col-md-2'>
          <%= invitation.sender_name %>
        </div>
        <div class='col-md-2'>
          <%= time_ago_in_words(invitation.created_at) %> ago
        </div>
        <div class='col-md-2'>
          <strong>
            <% if invitation.end_time.blank? %>
              NOT YET STARTED
            <% else %>
              IN-PROGRESS
            <% end %>
          </strong>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
