<h1>
  <%= @user.name %>
</h1>

<p>
  <%= link_to 'Edit', edit_user_path(@user) %>
</p>

<p>
  Login: <%= @user.email %>
</p>
<p>
  Admin: <%= @user.admin? %>
</p>
<p>
  Examiner: <%= @user.examiner? %>
</p>
<% if @user.examiner? %>
  <div class='col-md-3'>
      View all quizzes
  </div>
  <div class='col-md-3'>
      Create a new quiz
  </div>
<% end %>
