<% provide(:title, 'All tests') %>

<h1>
  All tests
</h1>
<p>
  <%= link_to 'New test', new_test_path %>
</p>
<ul class="tests">
  <% @tests.each do |test| %>
    <li>
      <div class='col-md-3'>
        <%= link_to test.name, test %>
      </div>
      <div class='col-md-3'>
        <%= test.description %>
      </div>
      <div class='col-md-3'>
        <%= link_to 'Edit', edit_test_path(test) %> |
        <%= link_to 'DELETE', method: :delete, data: { confirm: "Delete " + test.name + "?" } %>
      </div>
    </li>
  <% end %>
</ul>
